/*!
Theme Name: viettel
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: viettel
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

viettel is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@font-face {
	font-family: 'Averta';
	src: url('fonts/Averta-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'Averta';
	src: url('fonts/Averta-Regular.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Averta';
	src: url('fonts/Averta-Bold.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Averta';
	src: url('fonts/Averta-Black.otf') format('opentype');
	font-weight: 900;
}

@font-face {
	font-family: 'PLAYFAIRDISPLAY';
	src: url('fonts/PLAYFAIRDISPLAY-REGULAR.TTF') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'PLAYFAIRDISPLAY';
	src: url('fonts/PLAYFAIRDISPLAY-BOLD.TTF') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'PLAYFAIRDISPLAY';
	src: url('fonts/PLAYFAIRDISPLAY-BLACK.TTF') format('truetype');
	font-weight: 900;
}


@keyframes quick-alo {
	0% {
		transform: rotate(0) scale(1) skew(1deg);
	}
	10% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
		transform: rotate(0) scale(1) skew(1deg);
	}
	100% {
		transform: rotate(0) scale(1) skew(1deg);
	}
}

@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/elements';
@import 'base/utilities';

@import 'components/layout';
@import 'components/header';
@import 'components/footer';
@import 'components/menus';
@import 'components/widgets';
@import 'components/single/posts-and-pages';
@import 'components/single/comments';
@import 'components/single/single';
@import 'components/page/landing';