@charset "UTF-8";
/*!
Theme Name: viettel
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: viettel
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

viettel is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@font-face {
	font-family: 'Averta';
	src: url("fonts/Averta-Light.otf") format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: 'Averta';
	src: url("fonts/Averta-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Averta';
	src: url("fonts/Averta-Bold.otf") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: 'Averta';
	src: url("fonts/Averta-Black.otf") format("opentype");
	font-weight: 900;
}

@font-face {
	font-family: 'PLAYFAIRDISPLAY';
	src: url("fonts/PLAYFAIRDISPLAY-REGULAR.TTF") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'PLAYFAIRDISPLAY';
	src: url("fonts/PLAYFAIRDISPLAY-BOLD.TTF") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'PLAYFAIRDISPLAY';
	src: url("fonts/PLAYFAIRDISPLAY-BLACK.TTF") format("truetype");
	font-weight: 900;
}

@keyframes quick-alo {
	0% {
		transform: rotate(0) scale(1) skew(1deg);
	}
	10% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
		transform: rotate(0) scale(1) skew(1deg);
	}
	100% {
		transform: rotate(0) scale(1) skew(1deg);
	}
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
	color: #000000;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #000000;
	font-family: "Averta";
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

/*--------------------------------------------------------------
# Fields
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.slick-initialized .slick-dots {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	width: auto;
}

.slick-initialized .slick-dots li {
	position: relative;
	margin: 17px 5px;
	padding: 0;
	cursor: pointer;
	height: 14px;
	width: 14px;
}

.slick-initialized .slick-dots li.slick-active button:before,
.slick-initialized .slick-dots li:hover button:before {
	background: #ed1b35;
	border: 1px solid #ed1b35;
}

.slick-initialized .slick-dots li button {
	border: 0;
	display: block;
	outline: none;
	font-size: 0px;
	padding: 5px;
	cursor: pointer;
}

.slick-initialized .slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background: #fff;
	border: 1px solid #000;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	opacity: 1;
}

.slick-initialized .slick-arrow {
	background: #daab00;
	padding: 16px;
	border-radius: 0;
	cursor: pointer;
	bottom: 10px;
	top: unset;
	transform: none;
	width: auto;
	height: auto;
	z-index: 1;
}

.slick-initialized .slick-arrow:before {
	display: none;
}

.slick-initialized .slick-prev {
	left: 0;
}

.slick-initialized .slick-next {
	right: 0;
}

.section-title {
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 50px;
	color: #ed1b35;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	margin: 0;
}

@media all and (max-width: 991px) {
	.section-title {
		font-size: 35px;
	}
}

.section-title:after {
	content: '';
	width: 83px;
	height: 6px;
	background: #ed1b35;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.section-title.about {
	margin-bottom: 100px;
}

@media all and (max-width: 991px) {
	.section-title.about {
		margin-bottom: 20px;
	}
}

.section-title__sub {
	font-family: "Averta";
	color: #fff;
	text-transform: uppercase;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 0.3em;
	font-weight: 300;
}

@media all and (max-width: 991px) {
	.section-title__sub span {
		display: block;
	}
}

.image_hover {
	box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-color: white;
	padding: 10px;
}

@media all and (max-width: 991px) {
	.image_hover {
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
	}
}

.image_hover img {
	transition: .4s ease;
}

.image_hover img:hover {
	transform: scale(1.1);
}

.btn-main {
	font-size: 24px;
	font-weight: bold;
	padding: 6px 28px;
	background: #ed1b35;
	color: #fff;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	z-index: 0;
}

.btn-main:before {
	background: #daab00;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	content: '';
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn-main:hover {
	background-color: transparent;
}

.btn-main:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}

@media (max-width: 1199px) {
	.btn-main {
		font-size: 18px;
	}
}

@media (max-width: 575px) {
	.btn-main {
		font-size: 15px;
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
}

@media (max-width: 1199px) {
	.container {
		padding: 0 30px;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 20px;
	}
}

.d-flex {
	display: flex;
	flex-flow: row wrap;
}

.d-none {
	display: none;
}

.site {
	width: 100%;
	overflow: hidden;
}

.main-content {
	width: 100%;
	margin-top: 60px;
}

@media (max-width: 767px) {
	.main-content {
		margin-top: 30px;
	}
}

.content-area {
	width: 65.81197%;
	margin: 0;
	float: left;
}

.content-area .site-main {
	background: #fff;
}

@media (max-width: 991px) {
	.content-area {
		width: 100%;
		margin: 0;
	}
}

.widget-area {
	width: 31.62393%;
	float: right;
	padding-bottom: 30px;
}

@media (max-width: 991px) {
	.widget-area {
		margin-top: 60px;
	}
}

@media (max-width: 991px) {
	.content-area,
	.widget-area {
		width: 100%;
	}
}

.no-sidebar .content-area,
.no-sidebar .blog-grid-sidebar .col-md-8 {
	margin: 0 auto;
	float: unset;
}

.site-header {
	background: #ed1b35;
}

.topbar {
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto;
	color: #fff;
	padding: 15px 0;
}

@media all and (max-width: 991px) {
	.site-branding {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.site-branding img {
	width: 220px;
}

@media all and (max-width: 991px) {
	.site-branding img {
		width: 175px;
	}
}

@media all and (max-width: 575px) {
	.site-branding img {
		width: 130px;
	}
}

.header-contact {
	font-size: 13px;
	font-family: "Averta";
}

.header-contact div {
	padding: 0 30px;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.header-contact div span {
	padding-left: 15px;
}

.header-contact img,
.header-contact span {
	float: left;
}

.header-contact a {
	color: #fff;
	text-decoration: none;
}

div.header-contact__social {
	border-right: 0;
}

div.header-contact__social span {
	display: block;
	float: none;
	padding: 0;
	margin-top: -7px;
}

div.header-contact__social img {
	margin-right: 6px;
}

@media (max-width: 1199px) {
	.topbar {
		padding: 5px;
	}
}

@media (max-width: 991px) {
	.header-contact {
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	.header-contact {
		display: none;
	}
}

.site-footer {
	background-image: url("images/background-footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 60px 0 0;
}

@media all and (max-width: 991px) {
	.site-footer {
		padding: 25px 0;
	}
	.site-footer .custom-logo-link img {
		max-width: 150px;
	}
}

.site-footer .site-info {
	border-bottom: 1px solid;
	padding-bottom: 30px;
}

.site-footer .copyright {
	padding: 30px 0;
}

.site-footer .copyright span {
	padding-right: 5px;
	border-right: 1px solid;
}

.site-footer .copyright a {
	color: #fff;
	text-decoration: none;
}

.site-footer .copyright a:hover {
	color: #daab00;
}

.site-footer .footer__left,
.site-footer .footer__right {
	width: 50%;
}

.site-footer .footer__right {
	font-size: 20px;
	font-weight: 300;
	margin-top: 15px;
}

.site-footer .footer__right p {
	margin-bottom: 15px;
}

.site-footer .footer__right p a {
	color: #fff;
	text-decoration: none;
}

.site-footer .footer__right p:last-child {
	margin-bottom: 0;
}

.site-footer h1 {
	text-transform: uppercase;
	margin-bottom: 120px;
}

.site-footer .footer-social {
	margin-right: 75px;
}

@media (max-width: 1199px) {
	.site-footer .copyright {
		padding: 20px;
	}
}

@media (max-width: 575px) {
	.site-footer .footer__left,
	.site-footer .footer__right {
		width: 100%;
	}
	.site-footer h1 {
		font-size: 24px;
		margin-bottom: 50px;
	}
	.site-footer .footer__right p {
		margin: 0;
	}
}

.box-popup {
	display: none;
	background: #ed1b35;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 9;
	padding: 50px;
	max-width: 565px;
	box-shadow: 0px 37px 56.43px 0.57px rgba(0, 0, 0, 0.15);
}

.box-popup i {
	border-radius: 100%;
	color: #fff;
	font-size: 50px;
	position: absolute;
	text-align: center;
	z-index: 999;
	right: 0;
	top: 0;
	cursor: pointer;
}

.box-popup .form-popup img.form-popup__logo {
	width: 150px;
}

.box-popup .form-popup > p {
	font-weight: bold;
	font-size: 22px;
	line-height: 1.5;
	margin: 0 0 25px;
}

.box-popup .form-popup h3 {
	font-size: 26px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.2;
	margin-bottom: 30px;
	font-weight: 900;
	margin: 10px 0;
}

.box-popup .form-popup h3 span {
	font-size: 60px;
}

.box-popup .form-popup .gform_body .gform_fields input {
	background: none;
	border: 1px solid #fff;
	padding: 11px 24px !important;
	color: #fff;
	font-size: 11px !important;
	height: 40px;
}

.box-popup .form-popup .gform_body .gform_fields input::placeholder {
	color: #fff;
}

.box-popup .form-popup .gform_body .gform_fields textarea {
	padding: 11px 24px;
	background: none;
	color: #fff;
	border: 1px solid #fff;
	height: 75px !important;
	font-size: 11px;
}

.box-popup .form-popup .gform_body .gform_fields textarea::placeholder {
	color: #fff;
}

.box-popup .form-popup .gform_wrapper {
	width: 100%;
}

.box-popup .form-popup .gform_wrapper .gform_heading,
.box-popup .form-popup .gform_wrapper span.gform_description {
	margin: 0;
	font-size: 16px;
	color: #daab00;
}

.box-popup .form-popup .gform_wrapper .top_label .gfield_label {
	display: none;
}

.box-popup .form-popup .gform_wrapper .gform_fields li:nth-child(2) {
	flex: 0 0 49%;
	margin-right: 2%;
}

.box-popup .form-popup .gform_wrapper .gform_fields li:nth-child(3) {
	flex: 0 0 49%;
}

.box-popup .form-popup .gform_wrapper ul li.gfield {
	padding: 0;
}

.box-popup .form-popup .gform_wrapper ul li.gfield:first-child {
	margin: 0;
}

.box-popup .form-popup .gform_wrapper .validation_error {
	display: none;
}

.box-popup .form-popup .gform_wrapper .gform_footer {
	padding: 16px 0 10px;
	margin: 16px 0 0;
	text-align: right;
	margin: 0;
	padding-bottom: 0;
}

.box-popup .form-popup .gform_wrapper .gform_footer input[type=submit] {
	position: unset;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	background: #daab00;
	border-radius: 0;
	border: 1px solid #daab00;
	font-size: 14px;
	padding: 10px 30px;
	margin: 0;
}

@media (max-width: 1279px) {
	.box-popup {
		padding: 20px;
	}
	.box-popup i {
		right: 0;
	}
}

@media (max-width: 575px) {
	.box-popup {
		right: 20px;
		top: 50%;
		bottom: unset;
		transform: translate(0, -50%);
	}
	.box-popup .form-popup .gform_body .gform_fields input {
		font-size: 14px !important;
	}
	.box-popup .form-popup h3 {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.box-popup .form-popup h3 span {
		font-size: 33px;
	}
	.box-popup .form-popup .gform_wrapper {
		width: 100%;
	}
	.box-popup .form-popup .gform_wrapper .gform_heading,
	.box-popup .form-popup .gform_wrapper span.gform_description {
		font-size: 14px;
	}
	.box-popup .form-popup .gform_wrapper .gform_footer {
		padding: 0;
	}
	.box-popup .form-popup .gform_wrapper .gform_footer input[type=submit] {
		padding: 5px 40px;
	}
}

@media only screen and (min-width: 641px) {
	.box-popup .gform_wrapper.gform_validation_error .top_label input.medium,
	.box-popup .gform_wrapper.gform_validation_error .top_label select.medium {
		width: 100%;
	}
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.single .entry-title {
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 700;
	font-size: 30px;
}

.single .entry-content {
	font-weight: 300;
}

.single .section-title {
	margin-bottom: 30px;
}

.single .site-main {
	margin-bottom: 30px;
}

.single .breadcrumb {
	font-size: 19px;
	font-weight: 300;
	color: #2f677d;
	text-transform: uppercase;
	margin: 35px 0;
}

.single .breadcrumb b {
	font-weight: 700;
}

.single__recent-wrapper {
	margin-bottom: 230px;
}

.single__recent-wrapper .news-item {
	padding: 0 15px;
}

.single__recent-wrapper .news-item a {
	padding: 0;
	background: none;
	box-shadow: unset;
	display: block;
	margin-bottom: 5px;
}

.single__recent-wrapper .news-item .thumbnail img {
	width: 100%;
	height: 176px;
	object-fit: cover;
}

.single__recent-wrapper .news-item h3 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 21px;
	overflow: hidden;
	margin: 0;
	line-height: 1.3;
}

.single__recent-wrapper .news-item h3 a {
	color: #000;
	text-decoration: none;
}

.single__recent-wrapper .news-item .post-excerpt {
	font-weight: 300;
	font-size: 16px;
}

.single__recent-wrapper .news-item .post-excerpt p {
	margin-top: 10px;
	line-height: 1.2;
}

.single__recent-wrapper .slick-arrow {
	bottom: -140px;
}

.single__recent-wrapper .slick-prev,
.single__recent-wrapper .slick-next,
.single__recent-wrapper .slick-prev:hover,
.single__recent-wrapper .slick-next:hover,
.single__recent-wrapper .slick-prev:focus,
.single__recent-wrapper .slick-next:focus {
	background: #daab00;
}

.single__recent-wrapper.slick-initialized .slick-prev {
	left: 18%;
}

.single__recent-wrapper.slick-initialized .slick-next {
	right: 18%;
}

@media (max-width: 575px) {
	.single__recent-wrapper {
		margin-bottom: 120px;
	}
	.single__recent-wrapper .slick-arrow {
		padding: 12px;
		bottom: -70px;
	}
	.single__recent-wrapper .slick-arrow img {
		width: 15px;
	}
	.single__recent-wrapper.slick-initialized .slick-prev {
		left: 40%;
	}
	.single__recent-wrapper.slick-initialized .slick-next {
		right: 40%;
	}
}

.page-template-landing {
	font-family: "Averta";
	color: #000000;
}

.page-template-landing .banner-top .slick-arrow {
	background: #ed1b35;
	padding: 18px 21px;
	bottom: 106px;
}

@media all and (max-width: 991px) {
	.page-template-landing .banner-top .slick-arrow img {
		width: 15px;
	}
}

@media all and (max-width: 575px) {
	.page-template-landing .banner-top .slick-slide img {
		max-width: 575px;
		object-position: -90px center;
	}
}

@media all and (max-width: 375px) {
	.page-template-landing .banner-top .slick-slide img {
		max-width: 540px;
		object-position: -111px center;
	}
}

.page-template-landing .item__content {
	font-family: "Averta";
	font-weight: 300;
	font-size: 18px;
	max-width: 980px;
	margin: 0 auto;
	padding: 62px 180px;
	text-align: center;
	background-color: white;
	box-shadow: 0px 3px 95px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	top: -100px;
}

.page-template-landing .item__content span {
	position: relative;
}

.page-template-landing .item__content span:before, .page-template-landing .item__content span:after {
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 100px;
	line-height: 1;
	color: #ed1b35;
	position: absolute;
	content: '“';
}

.page-template-landing .item__content span:before {
	top: -45px;
	left: -45px;
}

.page-template-landing .item__content span:after {
	bottom: -45px;
	right: -45px;
	-moz-transform: matrix(-1, -1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
	-ms-transform: matrix(-1, 0, 0, -1, 0, 0);
}

@media (min-width: 1440px) {
	.page-template-landing .banner-top .slick-prev {
		left: 80px;
	}
	.page-template-landing .banner-top .slick-next {
		right: 80px;
	}
}

@media (max-width: 991px) {
	.page-template-landing .item__content {
		top: 0;
	}
}

@media (max-width: 575px) {
	.page-template-landing .banner-top .slick-arrow {
		padding: 10px 12px;
	}
	.page-template-landing .item__content {
		padding: 62px 75px;
	}
}

.page-template-landing .service {
	background: url("images/service-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 130px 0 50px;
}

.page-template-landing .service__content {
	font-weight: 300;
	margin-bottom: 45px;
}

@media all and (max-width: 991px) {
	.page-template-landing .service__content p {
		text-align: justify;
		padding: 0 10px;
	}
}

.page-template-landing .slider-nav .slick-list {
	overflow: unset;
}

.page-template-landing .slider-nav__item {
	text-align: center;
	border-right: 1px solid rgba(17, 146, 142, 0.25);
	padding: 20px 30px 30px;
	cursor: pointer;
	position: relative;
	outline: 0;
}

@media all and (max-width: 991px) {
	.page-template-landing .slider-nav__item {
		border-right: 0;
		padding: 20px 5px 10px;
	}
}

.page-template-landing .slider-nav__item:last-child {
	border-right: 0;
}

.page-template-landing .slider-nav__item img {
	margin: 0 auto;
}

.page-template-landing .slider-nav__item p {
	font-family: "PLAYFAIRDISPLAY";
	font-size: 24px;
	line-height: 30px;
	font-weight: 900;
	margin-bottom: 0;
	transition: all .3s;
}

@media all and (max-width: 991px) {
	.page-template-landing .slider-nav__item p {
		font-size: 20px;
		line-height: 24px;
	}
}

.page-template-landing .slider-nav__item.slick-current:after {
	opacity: 1;
}

.page-template-landing .slider-nav__item:after {
	position: absolute;
	content: '';
	bottom: -10px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 10px solid #ed1b35;
	opacity: 0;
	transition: all .3s;
	left: 50%;
	transform: translateX(-50%);
}

.page-template-landing .slider-nav__item:hover:after {
	opacity: 1;
	transition: all .3s;
}

.page-template-landing .slider-nav__item:hover p {
	color: #ed1b35;
}

.page-template-landing .slider-single .slick-list {
	margin: 0 -38px;
}

.page-template-landing .slider-single .slick-dots {
	top: 50%;
	left: 37%;
	bottom: unset;
	transform: translate(0, -50%);
}

.page-template-landing .slider-single .slick-dots li {
	display: block;
}

.page-template-landing .slider-single .slick-dots button {
	border: 0;
	display: block;
	outline: none;
	font-size: 0px;
	padding: 5px;
	cursor: pointer;
}

.page-template-landing .slider-single .slick-dots button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background: #fff;
	border: 1px solid #000;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	opacity: 1;
}

.page-template-landing .slider-single__item.slick-slide {
	display: flex;
	align-items: center;
	padding: 38px;
	outline: 0;
}

@media all and (max-width: 991px) {
	.page-template-landing .slider-single__item.slick-slide {
		padding: 10px 38px;
	}
}

.page-template-landing .slider-single__item.slick-slide div {
	font-weight: 300;
	padding: 0 115px;
	width: 65%;
}

.page-template-landing .slider-single__item.slick-slide div b {
	font-family: "PLAYFAIRDISPLAY";
	color: #ed1b35;
	font-size: 75px;
	line-height: 72px;
	font-weight: 900;
}

.page-template-landing .slider-single__item.slick-slide div ul {
	margin: 0;
	margin-bottom: 15px;
	padding-left: 20px;
}

.page-template-landing .slider-single__item.slick-slide div p {
	margin: 0;
	margin-top: 15px;
}

@media (max-width: 1199px) {
	.page-template-landing .slider-single__item.slick-slide div {
		padding: 0 0 0 50px;
		width: 55%;
	}
	.page-template-landing .slider-single__item.slick-slide div b {
		font-size: 40px;
		line-height: 1.2;
	}
}

@media (max-width: 991px) {
	.page-template-landing .service {
		margin-top: 0 !important;
		padding: 0 !important;
	}
	.page-template-landing .slider-single__item.slick-slide div {
		width: 45%;
	}
}

@media (max-width: 575px) {
	.page-template-landing .slider-single__item.slick-slide {
		padding-bottom: 0;
	}
	.page-template-landing .slider-single .slick-dots {
		visibility: hidden;
	}
	.page-template-landing .slider-single__item.slick-slide div {
		width: 100%;
		padding: 0;
		margin-top: 10px;
	}
	.page-template-landing .slider-single__item.slick-slide div b {
		font-size: 35px;
		line-height: 40px;
	}
	.page-template-landing .slider-single__item .image_hover img {
		max-height: 201px;
		width: 100%;
		object-fit: cover;
	}
	.page-template-landing .slider-nav {
		margin-bottom: 30px;
	}
}

.page-template-landing .background {
	background-image: url(images/section-background.jpg);
	padding: 60px 0;
	background-size: cover;
	background-position: center center;
	position: relative;
}

@media all and (max-width: 991px) {
	.page-template-landing .background {
		margin-top: -30px;
	}
}

.page-template-landing .background:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(17, 146, 142, 0.25);
}

.page-template-landing .background .section-title {
	color: #fff;
	padding: 0;
	line-height: 1;
}

.page-template-landing .background .section-title:after {
	display: none;
}

.page-template-landing .background .section-title__sub {
	position: relative;
	margin: 0;
	padding-bottom: 10px;
}

.page-template-landing .background .section-title__sub:after {
	content: '';
	width: 83px;
	height: 6px;
	background: #ed1b35;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.page-template-landing .section-featured {
	padding: 40px 0;
}

@media all and (max-width: 991px) {
	.page-template-landing .section-featured {
		padding-bottom: 0;
	}
}

.page-template-landing .section-featured .slick-list {
	overflow: unset;
}

.page-template-landing .section-featured .slick-arrow {
	background: #ed1b35;
}

.page-template-landing .section-featured .slick-prev {
	display: none !important;
}

.page-template-landing .section-featured .slick-next {
	left: -50px;
	padding: 12px;
	bottom: -110px;
	right: unset;
}

.page-template-landing .section-featured .slick-dots {
	left: 60px;
	bottom: -160px;
}

.page-template-landing .section-featured .slick-slide {
	visibility: hidden;
}

.page-template-landing .section-featured .slick-slide.slick-active {
	visibility: unset;
}

.page-template-landing .section-featured__wrapper {
	position: relative;
}

.page-template-landing .section-featured__number {
	position: absolute;
	font-size: 12px;
	font-weight: 300;
	color: #2a657d;
	text-transform: uppercase;
	top: 25%;
}

@media all and (max-width: 991px) {
	.page-template-landing .section-featured__number {
		display: none;
	}
}

.page-template-landing .section-featured__number b {
	font-size: 64px;
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 700;
	color: #000;
}

@media (min-width: 1280px) {
	.page-template-landing .section-featured__number {
		left: -4%;
	}
}

@media (min-width: 1366px) {
	.page-template-landing .section-featured__number {
		left: -6%;
	}
}

@media (min-width: 1440px) {
	.page-template-landing .section-featured__number {
		left: -10%;
	}
}

@media (min-width: 1600px) {
	.page-template-landing .section-featured__number {
		left: -15%;
	}
}

@media (min-width: 1920px) {
	.page-template-landing .section-featured__number {
		left: -28%;
	}
}

.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__number {
	left: unset;
	right: 0;
}

@media (min-width: 1280px) {
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__number {
		right: -4%;
	}
}

@media (min-width: 1366px) {
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__number {
		right: -6%;
	}
}

@media (min-width: 1440px) {
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__number {
		right: -10%;
	}
}

@media (min-width: 1600px) {
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__number {
		right: -15%;
	}
}

@media (min-width: 1920px) {
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__number {
		right: -28%;
	}
}

.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__item {
	margin-bottom: 100px;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--left {
	order: 2;
	text-align: right;
	padding: 160px 0 115px 115px;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--left b {
	width: 100%;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--left * {
	float: right;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--right {
	padding-left: 0;
	padding-right: 30px;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--right:before {
	content: '';
	background: url("images/image-layer.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -80px;
	left: 68%;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .slick-dots {
	left: unset;
	right: 30px;
	bottom: -140px;
}

.page-template-landing .section-featured__wrapper:nth-child(even) .slick-next {
	left: unset;
	right: -50px;
	bottom: -90px;
}

.page-template-landing .section-featured__item {
	margin-bottom: 120px;
}

@media all and (max-width: 991px) {
	.page-template-landing .section-featured__item {
		margin-bottom: 0;
	}
}

.page-template-landing .section-featured__item.slick-slide {
	display: flex;
	outline: 0;
	visibility: hidden;
}

.page-template-landing .section-featured__item.slick-current.slick-active {
	visibility: unset;
}

.page-template-landing .featured__item--right {
	width: 40%;
	padding-left: 30px;
}

.page-template-landing .featured__item--right a img {
	box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	height: 529px;
	object-fit: cover;
	padding: 10px;
	background: #fff;
}

.page-template-landing .featured__item--right:before {
	content: '';
	background: url("images/image-layer.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -42px;
	left: -50px;
}

@media all and (max-width: 991px) {
	.page-template-landing .featured__item--right:before {
		display: none;
	}
}

.page-template-landing .featured__item--left {
	font-weight: 300;
	padding: 115px 115px 115px 0;
	width: 60%;
}

.page-template-landing .featured__item--left img {
	display: block;
	margin-bottom: 20px;
}

.page-template-landing .featured__item--left b {
	font-family: "PLAYFAIRDISPLAY";
	font-size: 36px;
	line-height: 40px;
	font-weight: 900;
}

.page-template-landing .featured__item--left p {
	margin: 15px 0;
	margin-bottom: 0;
}

@media (min-width: 1280px) {
	.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--right img {
		right: 0;
		left: unset;
	}
	.page-template-landing .featured__item--right a {
		position: relative;
	}
	.page-template-landing .featured__item--right a img {
		position: absolute;
		max-width: inherit;
		top: 0;
		left: 0;
	}
}

@media (max-width: 1199px) {
	.page-template-landing .section-featured .slick-next,
	.page-template-landing .section-featured__wrapper:nth-child(even) .slick-next {
		bottom: 17px;
	}
	.page-template-landing .section-featured .slick-dots,
	.page-template-landing .section-featured__wrapper:nth-child(even) .slick-dots {
		bottom: -50px;
	}
	.page-template-landing .section-featured__wrapper .featured__item--left {
		padding-right: 115px;
		padding-left: 0;
	}
	.page-template-landing .section-featured__item,
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__item {
		margin-bottom: 30px;
	}
	.page-template-landing .featured__item--left,
	.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--left {
		padding: 0;
		padding-left: 115px;
	}
	.page-template-landing .featured__item--right a img {
		height: 300px;
	}
}

@media (max-width: 991px) {
	.page-template-landing .section-featured__wrapper .featured__item--left {
		padding: 0;
	}
	.page-template-landing .featured__item--left,
	.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--left {
		padding: 0;
	}
	.page-template-landing .section-featured__wrapper:nth-child(even) .section-featured__item {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.page-template-landing .section-featured .slick-arrow,
	.page-template-landing .section-featured .slick-dots {
		visibility: hidden;
	}
	.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--right {
		padding-right: 0;
	}
}

@media (max-width: 575px) {
	.page-template-landing .featured__item--left,
	.page-template-landing .featured__item--right {
		width: 100%;
		padding: 0;
	}
	.page-template-landing .featured__item--right {
		margin-top: 10px;
	}
	.page-template-landing .section-featured__wrapper:nth-child(even) .featured__item--left {
		padding: 0;
		order: unset;
	}
}

.page-template-landing .tinh-toan {
	background: #f2f2f2 url(images/tinh-toan-background.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-top: 20px;
	box-shadow: 0 18px 23px -3px rgba(0, 0, 0, 0.2);
}

.page-template-landing .list-gdesc {
	max-width: 980px;
	margin: 20px auto 100px;
}

@media all and (max-width: 991px) {
	.page-template-landing .list-gdesc {
		padding: 0 15px;
		margin-bottom: 10px;
	}
}

.page-template-landing .item-title {
	font-family: "PLAYFAIRDISPLAY";
	font-size: 36px;
}

.page-template-landing .build {
	padding-bottom: 75px;
}

.page-template-landing .build .list-body {
	margin-top: 25px;
}

.page-template-landing .build .list-body .item {
	flex: 0 0 65%;
	max-width: 65%;
	background: #fff;
}

.page-template-landing .build .list-body .build__image {
	position: relative;
	flex: 0 0 35%;
	padding-left: 30px;
}

.page-template-landing .build .list-body .build__image img {
	position: absolute;
	max-width: inherit;
}

.page-template-landing .build .list-body .item-box {
	border: 5px solid #ed1b35;
	padding: 25px 10px;
}

.page-template-landing .build .list-body .item-box .box {
	border-right: 1px solid #bcbcbc;
	padding: 36px 30px 65px;
	width: 50%;
	margin-top: 15px;
}

.page-template-landing .build .list-body .item-box .box:last-child {
	border: 0;
}

@media all and (max-width: 991px) {
	.page-template-landing .build .list-body .item-box .box {
		margin-top: 0;
	}
}

.page-template-landing .build .list-body .item-box input, .page-template-landing .build .list-body .item-box select {
	width: 100%;
	background: none;
	border: 1px solid #000;
	outline: none;
	font-size: 15px;
	height: 50px;
	line-height: 26px;
	color: #000;
	padding: 6px 14px;
	cursor: pointer;
}

.page-template-landing .build .list-body .item-box input::placeholder, .page-template-landing .build .list-body .item-box select::placeholder {
	font-style: italic;
	color: #bdbbbb;
	font-weight: 300;
}

@media all and (max-width: 991px) {
	.page-template-landing .build .list-body .item-box input, .page-template-landing .build .list-body .item-box select {
		height: 40%;
	}
}

.page-template-landing .build .list-body .item-box select {
	height: 50px;
}

.page-template-landing .build .list-body .item-box select option {
	color: #333;
}

@media all and (max-width: 991px) {
	.page-template-landing .build .list-body .item-box select {
		height: 40%;
	}
}

.page-template-landing .build .list-body .item-box .input {
	margin: 12px 0;
}

.page-template-landing .build .list-body .item-box input {
	margin-bottom: 10px;
}

@media all and (max-width: 991px) {
	.page-template-landing .build .list-body .item-box input {
		margin-bottom: 0;
	}
}

.page-template-landing .build .list-body .item-box span {
	display: block;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 20px;
}

@media all and (max-width: 991px) {
	.page-template-landing .build .list-body .item-box span {
		margin-bottom: 10px;
		font-size: 16px;
	}
}

.page-template-landing .build .list-body .item-title {
	width: 100%;
	padding: 0 30px;
	position: relative;
	color: #ed1b35;
	margin: 0;
}

.page-template-landing .build .list-body .item-link {
	margin-top: 57px;
}

.page-template-landing .build .list-body .item-link .thar {
	display: inline-block;
	padding: 7px 28px;
	margin: 0;
	color: #fff;
}

.page-template-landing .caculator {
	font-family: "Averta";
	padding-bottom: 50px;
}

.page-template-landing .caculator .list-body {
	margin: 0 80px;
	position: relative;
	box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
}

.page-template-landing .caculator .item-title {
	background: #ed1b35;
	text-align: center;
	margin: 0;
	padding: 6px 0 8px;
}

.page-template-landing .caculator .item {
	padding: 22px 35px 0;
}

.page-template-landing .caculator .item-body {
	margin-left: -10px;
	margin-right: -10px;
	display: flex;
	flex-wrap: wrap;
}

.page-template-landing .caculator .item-body input, .page-template-landing .caculator .item-body select {
	font-family: "Averta";
	width: 100%;
	border: 1px solid #e1e1e1;
	outline: none;
	transition: all .5s ease;
	font-size: 15px;
	line-height: 24px;
	color: #333;
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 4px;
}

.page-template-landing .caculator .item-body select {
	height: 36px;
}

.page-template-landing .caculator .item-body .input {
	padding-left: 10px;
	padding-right: 10px;
	flex: 0 0 25%;
	max-width: 25%;
	margin-bottom: 10px;
}

@media all and (max-width: 991px) {
	.page-template-landing .caculator .item-body .input.hide-on-mobile {
		display: none;
	}
}

.page-template-landing .caculator .item-body span {
	display: block;
	font-size: 15px;
	line-height: 24px;
}

.page-template-landing .caculator .item-link {
	text-align: center;
	padding-bottom: 26px;
}

.page-template-landing .caculator .item-link .thar {
	margin: 5px;
	display: inline-block;
	color: #fff;
}

.page-template-landing .caculator .item-link .thar:first-child {
	background: #ed1b35;
}

.page-template-landing .popup {
	position: fixed;
	min-width: 100%;
	max-width: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	z-index: 5;
	top: 0;
	flex-direction: column;
	left: 0;
}

.page-template-landing .popup .d-flex {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 22px;
}

.page-template-landing .popup .item-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	color: #019f9a;
	cursor: pointer;
	padding: 10px 43px;
	border-right: 1px solid #ebebeb;
}

.page-template-landing .popup .item-title:last-child {
	border-right: 0;
}

.page-template-landing .popup .item-title.active {
	background: #ebebeb;
}

.page-template-landing .popup .item-body {
	padding: 0 43px;
	overflow-y: scroll;
	max-height: 600px;
	margin-right: 43px;
	height: auto;
}

@media only screen and (max-width: 1400px) {
	.page-template-landing .popup .item-body {
		max-height: 355px;
	}
}

.page-template-landing .popup-close {
	position: absolute;
	top: -42px;
	right: -42px;
	color: #fff;
	background: #d58431;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border-radius: 50%;
	cursor: pointer;
}

.page-template-landing .popup-home {
	background: #fff;
	padding: 35px 0;
	border-radius: 5px;
	position: absolute;
	max-width: 1170px;
	margin-top: 15px;
}

.page-template-landing .d-none {
	display: none;
}

@media (max-width: 1299px) {
	.page-template-landing .caculator .list-body {
		margin: 0 20px;
	}
}

@media (max-width: 1199px) {
	.page-template-landing .item-title {
		font-size: 24px;
	}
	.page-template-landing .build .list-body .item-box .box {
		padding: 36px 25px 65px;
	}
	.page-template-landing .popup-home {
		left: 15px;
		right: 15px;
	}
	.page-template-landing .popup-close {
		top: -55px;
		right: -15px;
	}
}

@media (max-width: 575px) {
	.page-template-landing .build .list-body .item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.page-template-landing .build .list-body .item-title {
		padding: 0;
	}
	.page-template-landing .build .list-body .item-box .box {
		padding: 0;
		width: 100%;
		border: 0;
	}
	.page-template-landing .build .list-body .build__image img {
		display: none;
	}
	.page-template-landing .build .list-body .item-link {
		margin-top: 30px;
	}
	.page-template-landing .caculator .item-body .input {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
	.page-template-landing .popup-home {
		width: auto;
	}
	.page-template-landing .popup .item-title {
		font-size: 20px;
		width: 50%;
		padding: 10px 15px;
	}
	.page-template-landing .popup .item-body {
		margin-right: 0;
		padding: 0 20px;
	}
	.page-template-landing .popup-close {
		right: 0;
		top: -50px;
	}
}

.page-template-landing .section-project {
	background: url(images/project-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}

.page-template-landing .section-project .project__gt {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 80px;
}

@media all and (max-width: 991px) {
	.page-template-landing .section-project .project__gt {
		margin-bottom: 20px;
	}
}

.page-template-landing .projects__wrapper {
	margin: 0 -15px;
}

.page-template-landing .projects__wrapper .slick-list {
	overflow: unset;
}

.page-template-landing .projects__wrapper .slick-arrow {
	background: #ed1b35;
	bottom: -35px;
	padding: 12px;
}

@media all and (max-width: 991px) {
	.page-template-landing .projects__wrapper .slick-arrow img {
		width: 15px;
	}
}

.page-template-landing .projects__wrapper .slick-prev {
	left: 15px;
}

.page-template-landing .projects__wrapper .slick-next {
	right: 15px;
}

.page-template-landing .projects__wrapper .slick-track {
	display: flex;
}

.page-template-landing .projects__wrapper .slick-track .slick-slide {
	display: flex;
	flex-flow: row wrap;
	height: auto;
	align-items: center;
	justify-content: center;
}

.page-template-landing .project-item {
	margin: 0 15px;
	position: relative;
	background: #fff;
}

.page-template-landing .project-item.slick-slide:before {
	content: '';
	position: absolute;
	background-color: #3d3d3d;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.page-template-landing .project-item.slick-slide.slick-active:before {
	display: none;
}

.page-template-landing .project-item:hover {
	box-shadow: 0px 37px 56.43px 0.57px rgba(0, 0, 0, 0.15);
}

.page-template-landing .project-item .image_hover {
	width: 100%;
}

.page-template-landing .project-item .project__content {
	width: 100%;
	padding: 20px 30px;
}

@media all and (max-width: 991px) {
	.page-template-landing .project-item .project__content {
		padding: 10px 20px;
	}
}

.page-template-landing .project-item .posted-on {
	font-size: 13px;
	font-weight: 300;
	color: #838383;
}

.page-template-landing .project-item .entry-title {
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
}

@media all and (max-width: 991px) {
	.page-template-landing .project-item .entry-title {
		margin: 10px 0;
		font-size: 20px;
	}
}

.page-template-landing .project-item .image_hover {
	display: block;
	box-shadow: none;
	padding: 0;
}

.page-template-landing .project-item .image_hover img {
	height: 337px;
	width: 100%;
	object-fit: cover;
}

@media (max-width: 575px) {
	.page-template-landing .section-project {
		padding: 50px 0;
	}
}

.page-template-landing .section-news {
	padding: 50px 0;
}

@media all and (max-width: 991px) {
	.page-template-landing .section-news {
		padding: 15px 0;
	}
}

.page-template-landing .section-news .section-title {
	margin-bottom: 60px;
}

@media all and (max-width: 991px) {
	.page-template-landing .section-news .section-title {
		margin-bottom: 20px;
	}
}

.page-template-landing .section-news .news__wrapper {
	margin: 0 -15px;
}

.page-template-landing .section-news .news__left,
.page-template-landing .section-news .news__right {
	width: 50%;
	padding: 0 15px;
}

.page-template-landing .section-news .news__right {
	max-height: 596px;
	overflow-y: scroll;
	/* width */
	/* Track */
	/* Handle */
}

.page-template-landing .section-news .news__right::-webkit-scrollbar {
	width: 5px;
}

.page-template-landing .section-news .news__right::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #dedede;
}

.page-template-landing .section-news .news__right::-webkit-scrollbar-thumb {
	background: #ed1b35;
	border-radius: 10px;
}

.page-template-landing .section-news .news__left img {
	width: 100%;
	object-fit: cover;
}

.page-template-landing .section-news .image_hover {
	padding: 0;
	background: none;
	box-shadow: unset;
	display: block;
}

.page-template-landing .news-item {
	margin-bottom: 28px;
}

.page-template-landing .news-item .thumbnail img {
	width: 267px;
	height: 176px;
	object-fit: cover;
}

.page-template-landing .news-item .news-item__content {
	padding-left: 30px;
	width: 51%;
}

.page-template-landing .news-item .post-excerpt {
	font-weight: 300;
	font-size: 16px;
}

.page-template-landing .news-item .post-excerpt p {
	margin-top: 10px;
	line-height: 1.2;
}

.page-template-landing .news-item h3 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 21px;
	overflow: hidden;
	margin: 0;
	line-height: 1.3;
}

.page-template-landing .news-item h3 a {
	color: #000;
	text-decoration: none;
}

@media (max-width: 1199px) {
	.page-template-landing .section-news .news__right {
		max-height: 500px;
	}
	.page-template-landing .news-item h3 {
		margin: 0;
	}
}

@media (max-width: 1167px) {
	.page-template-landing .news-item .news-item__content {
		padding-left: 0;
		width: 60%;
	}
}

@media (max-width: 800px) {
	.page-template-landing .section-news .news__right {
		max-height: 360px;
	}
}

@media (max-width: 575px) {
	.page-template-landing .section-news .news__left {
		display: none;
	}
	.page-template-landing .section-news .news__right {
		max-height: 600px;
	}
	.page-template-landing .section-news .news__left,
	.page-template-landing .section-news .news__right {
		width: 100%;
	}
	.page-template-landing .section-news .image_hover,
	.page-template-landing .news-item .news-item__content {
		margin: 0 auto;
		width: 100%;
	}
	.page-template-landing .news-item .news-item__content {
		padding: 0;
	}
	.page-template-landing .news-item .image_hover img {
		width: 100%;
		object-fit: cover;
	}
}

.page-template-landing .thongso {
	background-image: url(images/thongso-background.png);
	padding: 130px 0;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.page-template-landing .thongso:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(61, 61, 61, 0.5);
}

.page-template-landing .thongso__wrapper {
	position: relative;
	z-index: 1;
}

.page-template-landing .thongso__item {
	width: 25%;
	text-align: center;
	color: #fff;
}

.page-template-landing .thongso__item p {
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 36px;
	margin: 0;
}

.page-template-landing .thongso__item span {
	font-weight: 300;
	font-size: 36px;
}

.page-template-landing .thongso__item span b {
	font-weight: 900;
	font-size: 50px;
}

@media (max-width: 575px) {
	.page-template-landing .thongso {
		padding: 50px 0;
	}
	.page-template-landing .thongso__item {
		width: 50%;
		margin-bottom: 20px;
	}
	.page-template-landing .thongso__item img {
		max-height: 45px;
	}
	.page-template-landing .thongso__item p,
	.page-template-landing .thongso__item span,
	.page-template-landing .thongso__item span b {
		font-size: 24px;
	}
}

.page-template-landing .form-ki-tuvan {
	background: url("images/form-background.png");
	background-repeat: no-repeat;
	background-position: 50% -100%;
	margin-top: -50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}

@media all and (max-width: 991px) {
	.page-template-landing .form-ki-tuvan {
		padding-bottom: 0;
	}
}

.page-template-landing .form-ki-tuvan .form__left {
	width: 60%;
	padding-left: 50px;
}

.page-template-landing .form-ki-tuvan .form__left h2 {
	font-family: "PLAYFAIRDISPLAY";
	font-size: 36px;
	font-weight: 900;
	line-height: 1;
	margin: 0;
}

@media all and (max-width: 991px) {
	.page-template-landing .form-ki-tuvan .form__left h2 {
		font-size: 24px;
	}
}

.page-template-landing .form-ki-tuvan .form__right {
	width: 40%;
	padding-left: 70px;
}

.page-template-landing .form-ki-tuvan .form__right .d-flex {
	align-items: center;
	margin-bottom: 20px;
}

.page-template-landing .form-ki-tuvan .form__right h3 {
	font-family: "PLAYFAIRDISPLAY";
	font-weight: 900;
	font-size: 36px;
	padding-left: 33px;
}

.page-template-landing .form-ki-tuvan .form__right p {
	margin: 0;
}

.page-template-landing .form-ki-tuvan .form__right p a {
	color: #000;
	text-decoration: none;
}

.page-template-landing .form-ki-tuvan .form__right img {
	margin-right: 15px;
	animation: quick-alo 1s infinite ease-in-out;
}

.page-template-landing .form-ki-tuvan .form__right b {
	font-weight: 900;
}

@media all and (max-width: 991px) {
	.page-template-landing .page-template-landing .gform_wrapper .gform_body input, .page-template-landing .page-template-landing .gform_wrapper .gform_body select {
		height: 40px;
	}
}

.page-template-landing .form__wrapper {
	justify-content: space-between;
	max-width: 970px;
	margin: 0 auto;
	padding: 40px 50px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 8px 23.04px 0.96px rgba(0, 0, 0, 0.2);
	position: relative;
}

.page-template-landing .gform_wrapper {
	margin: 0;
}

.page-template-landing .gform_wrapper .gform_body ul.gform_fields {
	display: flex;
	flex-flow: row wrap;
}

.page-template-landing .gform_wrapper .gform_body li {
	width: 100%;
}

@media all and (max-width: 991px) {
	.page-template-landing .gform_wrapper .gform_body li {
		margin-top: 5px;
	}
}

.page-template-landing .gform_wrapper .gform_body li.w-50 {
	width: 50%;
}

@media all and (max-width: 991px) {
	.page-template-landing .gform_wrapper .gform_body li.w-50 {
		width: 100%;
	}
}

.page-template-landing .gform_wrapper .gform_body label.gfield_label {
	font-size: 20px;
	font-weight: 300;
}

@media all and (max-width: 991px) {
	.page-template-landing .gform_wrapper .gform_body label.gfield_label {
		font-size: 17px;
	}
}

.page-template-landing .gform_wrapper .gform_body input,
.page-template-landing .gform_wrapper .gform_body select {
	height: 50px;
	border: 2px solid #000;
}

.page-template-landing .gform_wrapper .gform_body textarea {
	border: 2px solid #000;
}

.page-template-landing .gform_wrapper .gform_footer {
	margin: 0;
	padding: 0;
}

.page-template-landing .gform_wrapper .gform_footer input.button,
.page-template-landing .gform_wrapper .gform_footer input[type=submit] {
	font-size: 24px;
	font-weight: 900;
	padding: 13px 23px;
	background: #ed1b35;
	border: 1px solid #ed1b35;
	color: #fff;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	bottom: 50px;
	right: 150px;
}

.page-template-landing .gform_wrapper .gform_footer input.button:hover,
.page-template-landing .gform_wrapper .gform_footer input[type=submit]:hover {
	background: #daab00;
	border: 1px solid #daab00;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

@media only screen and (min-width: 641px) {
	.page-template-landing .gform_wrapper .top_label input.medium,
	.page-template-landing .gform_wrapper .top_label select.medium {
		width: 100%;
	}
}

@media (max-width: 1199px) {
	.page-template-landing .form__wrapper {
		padding: 40px 20px;
	}
	.page-template-landing .form-ki-tuvan .form__left {
		padding-left: 0;
	}
}

@media (max-width: 768px) {
	.page-template-landing .gform_wrapper .gform_footer input.button,
	.page-template-landing .gform_wrapper .gform_footer input[type=submit] {
		right: 0;
	}
}

@media (max-width: 575px) {
	.page-template-landing .form-ki-tuvan {
		margin: 0;
	}
	.page-template-landing .form-ki-tuvan .form__left,
	.page-template-landing .form-ki-tuvan .form__right {
		width: 100%;
		padding: 0;
	}
	.page-template-landing .gform_wrapper .gform_footer input.button,
	.page-template-landing .gform_wrapper .gform_footer input[type=submit] {
		position: unset;
		font-size: 18px;
		padding: 8px 23px;
	}
	.page-template-landing .form-ki-tuvan .form__right h3 {
		margin: 15px 0;
	}
}

.page-template-landing .section-video__wrapper {
	padding: 80px;
}

.page-template-landing .section-video__wrapper iframe {
	width: 100%;
	height: 800px;
}

@media (max-width: 991px) {
	.page-template-landing .section-video__wrapper {
		padding: 80px 20px;
	}
	.page-template-landing .section-video__wrapper iframe {
		height: 500px;
	}
}

@media (max-width: 767px) {
	.page-template-landing .section-video__wrapper iframe {
		height: 315x;
	}
}

.page-template-landing #sidebar {
	display: none;
}

.page-template-landing #page-container {
	background: none !important;
	position: relative !important;
}

.page-template-landing #page-container * {
	font-size: 5rem !important;
	left: 0 !important;
	right: auto !important;
	bottom: auto !important;
	position: relative !important;
}

.page-template-landing #page-container img {
	display: none !important;
}

.page-template-landing .h6, .page-template-landing .h6 + .h7 {
	height: 40.88px !important;
	line-height: 40.88px !important;
	padding-left: 30px !important;
}

.page-template-landing .h0 {
	height: auto !important;
}

.page-template-landing .t, .page-template-landing .c {
	position: inherit !important;
	overflow: visible !important;
}

.page-template-landing .w0, .page-template-landing .w2 {
	width: 100% !important;
}

.page-template-landing .pf {
	margin: 0 !important;
	box-shadow: none !important;
	background: none !important;
}

.page-template-landing .w3 {
	width: 600px !important;
}

.page-template-landing #pf2 {
	margin-top: -100px !important;
}

.page-template-landing #xemHuongNha p,
.page-template-landing #xemHuongNha ul,
.page-template-landing #xemTuoiXayNha p,
.page-template-landing #xemTuoiXayNha ul {
	margin: 0;
}

.page-template-landing .math-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px 60px;
	z-index: 3;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

.page-template-landing .math-content.show {
	display: flex;
}

.page-template-landing .math-content .table-1 {
	position: relative;
	background: #fff;
	padding: 10px 40px;
	z-index: 3;
	border-radius: 5px;
	width: 1170px;
}

.page-template-landing .math-content .table-1 .popup-close {
	top: 10%;
	right: -50px;
}

@media (max-width: 575px) {
	.page-template-landing .math-content .table-1 .popup-close {
		right: 0;
		top: -50px;
	}
}

.page-template-landing .math-content .math-content-table {
	max-height: 250px;
	overflow-y: scroll;
}

.page-template-landing .math-content table td {
	padding: 8px 13px;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

@media (max-width: 575px) {
	.page-template-landing .math-content table td {
		padding: 3px;
	}
}

.page-template-landing .math-content table thead {
	font-weight: bold;
	text-transform: uppercase;
	background: #ebebeb;
}

.page-template-landing .math-content table thead td {
	text-align: center;
}
