
.site-footer {
	// background-color: rgb(13, 148, 144);
	background-image: url('images/background-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 60px 0 0;
	@media all and (max-width: 991px) {
		padding: 25px 0;
		.custom-logo-link {
			img {
				max-width: 150px;
			}
		}
	}
	.site-info {
		border-bottom: 1px solid;
		padding-bottom: 30px;
	}
	.copyright {
		padding: 30px 0;
		span {
			padding-right: 5px;
			border-right: 1px solid;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: $color__cam;
			}
		}
	}
	.footer__left,
	.footer__right {
		width: 50%;
	}
	.footer__right {
		font-size: 20px;
		font-weight: 300;
		margin-top: 15px;
		p {
			margin-bottom: 15px;
			a {
				color: #fff;
				text-decoration: none;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	h1 {
		text-transform: uppercase;
		margin-bottom: 120px;
	}
	.footer-social {
		margin-right: 75px;
	}
	@media(max-width: 1199px) {
		.copyright {
			padding: 20px;
		}
	}
	@media (max-width: 575px) {
		.footer__left,
		.footer__right {
			width: 100%;
		}
		h1 {
			font-size: 24px;
			margin-bottom: 50px;
		}
		.footer__right p {
			margin: 0;
		}
	}
}

.box-popup {
	display: none;
	background: $color__do;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 9;
	padding: 50px;
	max-width: 565px;
	box-shadow: 0px 37px 56.43px 0.57px rgba(0, 0, 0, 0.15);
	i {
		border-radius: 100%;
		color: #fff;
		font-size: 50px;
		position: absolute;
		text-align: center;
		z-index: 999;
		right: 0;
		top: 0;
		cursor: pointer;
	}
	.form-popup {
		img.form-popup__logo {
			width: 150px;
		}
		& > p {
			font-weight: bold;
			font-size: 22px;
			line-height: 1.5;
			margin: 0 0 25px;
		}
		h3 {
			font-size: 26px;
			text-transform: uppercase;
			color: #fff;
			line-height: 1.2;
			margin-bottom: 30px;
			font-weight: 900;
			margin: 10px 0;
			span {
				font-size: 60px;
			}
		}
		.gform_body .gform_fields {
			input {
				background: none;
				border: 1px solid #fff;
				padding: 11px 24px !important;
				color: #fff;
				font-size: 11px !important;
				height: 40px;
				&::placeholder {
					color: #fff;
				}
			}
			textarea {
				padding: 11px 24px;
				background: none;
				color: #fff;
				border: 1px solid #fff;
				height: 75px !important;
				font-size: 11px;
				&::placeholder {
					color: #fff;
				}
			}
		}
		.gform_wrapper {
			width: 100%;
			.gform_heading,
			span.gform_description {
				margin: 0;
				font-size: 16px;
				color: $color__cam;
			}
			.top_label .gfield_label {
				display: none;
			}
			.gform_fields li:nth-child(2) {
				flex: 0 0 49%;
				margin-right: 2%;
			}
			.gform_fields li:nth-child(3)  {
				flex: 0 0 49%;
			}
			ul li.gfield {
				padding: 0;
				&:first-child {
					margin: 0;
				}
			}
			input {

			}
			.validation_error {
				display: none;
			}
		}
		.gform_wrapper .gform_footer {
			padding: 16px 0 10px;
			margin: 16px 0 0;
			text-align: right;
			margin: 0;
			padding-bottom: 0;
			input[type=submit] {
				position: unset;
				text-transform: uppercase;
				font-weight: 700;
				color: #ffffff;
				background: $color__cam;
				border-radius: 0;
				border: 1px solid $color__cam;
				font-size: 14px;
				padding: 10px 30px;
				margin: 0;
			}
		}
	}
}

@media(max-width: 1279px) {
	.box-popup {
		padding: 20px;
		i {
			right: 0;
		}
	}
}

@media(max-width: 575px) {
	.box-popup {
		right: 20px;
		top: 50%;
		bottom: unset;
		transform: translate(0, -50%);
		.form-popup {
			.gform_body .gform_fields input {
				font-size: 14px !important;
			}
		}
		.form-popup h3 {
			font-size: 14px;
			margin-bottom: 10px;
			span {
				font-size: 33px;
			}
		}
		.form-popup .gform_wrapper {
			width: 100%;
			.gform_heading,
			span.gform_description {
				font-size: 14px;
			}
			.gform_footer {
				padding: 0;
			}
			.gform_footer input[type=submit] {
				padding: 5px 40px;
			}
		}
	}
}

@media only screen and (min-width: 641px) {
	.box-popup .gform_wrapper.gform_validation_error .top_label input.medium,
	.box-popup .gform_wrapper.gform_validation_error .top_label select.medium {
		width: 100%;
	}
}