
// Header.
.site-header {
	background: $color__do;
}
.topbar {
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto;
	color: #fff;
	padding: 15px 0;
}
.site-branding {
	@media all and (max-width: 991px) {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	img {
		width: 220px;
		@media all and (max-width: 991px) {
			width: 175px;
		}
		@media all and (max-width: 575px) {
			width: 130px;
		}
	}
}
.header-contact {
	font-size: 13px;
	font-family: "Averta";
	div {
		padding: 0 30px;
		border-right: 1px solid rgba(0, 0, 0, 0.5);
		span {
			padding-left: 15px;
		}
	}
	img,
	span {
		float: left;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
}
div.header-contact__social {
	border-right: 0;
	span {
		display: block;
		float: none;
		padding: 0;
		margin-top: -7px;
	}
	img {
		margin-right: 6px;
	}
}
@media (max-width: 1199px) {
	.topbar {
		padding: 5px;
	}
}
@media (max-width: 991px) {
	.header-contact {
		margin-top: 20px;
	}
}
@media (max-width: 768px) {
	.header-contact {
		display: none;
	}
}
