.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
}
@media(max-width: 1199px) {
	.container {
		padding: 0 30px;
	}
}
@media(max-width: 767px) {
	.container {
		padding: 0 20px;
	}
}

.d-flex {
	display: flex;
	flex-flow: row wrap;
}

.d-none {
	display: none;
}

.site {
	width: 100%;
	overflow: hidden;
}

.main-content {
	width: 100%; // the container display flex, so the layout will be broken if the width of this section is too big (ex: Page Image Alignment)
	margin-top: 60px;
	@media (max-width: 767px) {
		margin-top: 30px;
	}
}
.content-area {
	width: percentage( 770 / 1170 );
	margin: 0;
	float: left;
	.site-main {
		background: #fff;
	}
	@media (max-width: 991px) {
		width: 100%;
		margin: 0;
	}
}
.widget-area {
	width: percentage( 370 / 1170 );
	float: right;
	padding-bottom: 30px;
	@media (max-width: 991px) {
		margin-top: 60px;
	}
}

@media (max-width: 991px) {
	.content-area,
	.widget-area {
		width: 100%;
	}
}
.no-sidebar {
	.content-area,
	.blog-grid-sidebar .col-md-8 {
		margin: 0 auto;
		float: unset;
	}
}

