html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	color: #000000;
}
body,
button,
input,
select,
optgroup,
textarea {
	color: #000000;
	font-family: $font__averta;
	@include font-size(1);
	line-height: $font__line-height-body;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}


ul, ol {
	margin: 0 0 1.5em 3em;
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

/*--------------------------------------------------------------
# Fields
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}


.slick-initialized .slick-dots {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	width: auto;
	li {
		position: relative;
		margin: 17px 5px;
		padding: 0;
		cursor: pointer;
		height: 14px;
		width: 14px;
		&.slick-active button:before,
		&:hover button:before {
			background: $color__do;
			border: 1px solid $color__do;
		}
	}
	li button {
		border: 0;
		display: block;
		outline: none;
		font-size: 0px;
		padding: 5px;
		cursor: pointer;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background: #fff;
			border: 1px solid #000;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			opacity: 1;
		}
	}
}
.slick-initialized .slick-arrow {
	background: $color__cam;
	padding: 16px;
	border-radius: 0;
	cursor: pointer;
	bottom: 10px;
	top: unset;
	transform: none;
	width: auto;
	height: auto;
	z-index: 1;
	&:before {
		display: none;
	}
}
.slick-initialized .slick-prev {
	left: 0;
}
.slick-initialized .slick-next {
	right: 0;
}
.section-title {
	font-family: $font__playfair;
	font-weight: 900;
	font-size: 50px;
	color: $color__do;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	margin: 0;
	@media all and (max-width: 991px) {
		font-size: 35px;
	}
	&:after {
		content: '';
		width: 83px;
		height: 6px;
		background: $color__do;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	&.about {
		margin-bottom: 100px;
		@media all and (max-width: 991px) {
			margin-bottom: 20px;
		}
	}
}
.section-title__sub {
	font-family: "Averta";
	color: #fff;
	text-transform: uppercase;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 0.3em;
	font-weight: 300;
	span {
		@media all and (max-width: 991px) {
			display: block;
		}
	}
}
.image_hover {
	box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	@media all and (max-width: 991px) {
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
	}
	img {
		transition: .4s ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.btn-main {
	font-size: 24px;
	font-weight: bold;
	padding: 6px 28px;
	background: $color__do;
	color: #fff;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	z-index: 0;
	&:before {
		background: $color__cam;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0;
		z-index: -1;
		content: '';
		transition: all .4s cubic-bezier(.42,0,.58,1);
	}
	&:hover {
		background-color: transparent;
		&:before {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
}
@media (max-width: 1199px) {
	.btn-main {
		font-size: 18px;
	}
}
@media (max-width: 575px) {
	.btn-main {
		font-size: 15px;
	}
}