.page-template-landing {
	font-family: $font__averta;
	color: #000000;

	// Banner.
	.banner-top {
		.slick-arrow {
			background: $color__do;
			padding: 18px 21px;
			bottom: 106px;
			img {
				@media all and (max-width: 991px) {
					width: 15px;
				}
			}
		}
		@media all and (max-width: 575px) {
			.slick-slide img {
				max-width: 575px;
				object-position: -90px center;
			}
		}
		@media all and (max-width: 375px) {
			.slick-slide img {
				max-width: 540px;
				object-position: -111px center;
			}
		}
	}
	.item__content {
		font-family: "Averta";
		font-weight: 300;
		font-size: 18px;
		max-width: 980px;
		margin: 0 auto;
		padding: 62px 180px;
		text-align: center;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 3px 95px 0px rgba(0, 0, 0, 0.2);
		position: relative;
		top: -100px;
		span {
			position: relative;
			&:before,
			&:after {
				font-family: $font__playfair;
				font-weight: 900;
				font-size: 100px;
				line-height: 1;
				color: $color__do;
				position: absolute;
				content: '“';
			}
			&:before {
				top: -45px;
				left: -45px;
			}
			&:after {
				bottom: -45px;
				right: -45px;
				-moz-transform: matrix( -1,-1,0,0);
				-webkit-transform: matrix( -1,0,0,-1,0,0);
				-ms-transform: matrix( -1,0,0,-1,0,0);
			}
		}
	}

	@media(min-width: 1440px) {
		.banner-top {
			.slick-prev {
				left: 80px;
			}
			.slick-next {
				right: 80px;
			}
		}
	}

	@media (max-width: 991px) {
		.item__content {
			top: 0;
		}
	}
	@media (max-width: 575px) {
		.banner-top .slick-arrow {
			padding: 10px 12px;
		}
		.item__content {
			padding: 62px 75px;
		}
	}

	// Service.
	.service {
		background: url('images/service-background.png');
		background-repeat: no-repeat;
		background-size: cover;
		// margin-top: -205px;
		padding: 130px 0 50px;
	}
	.service__content {
		font-weight: 300;
		margin-bottom: 45px;
		@media all and (max-width: 991px) {
			p {
				text-align: justify;
				padding: 0 10px;
			}
		}
	}

	.slider-nav {
		.slick-list {
			overflow: unset;
		}
	}
	.slider-nav__item {
		text-align: center;
		border-right: 1px solid rgba(17, 146, 142, 0.25);
		padding: 20px 30px 30px;
		cursor: pointer;
		position: relative;
		outline: 0;
		@media all and (max-width: 991px) {
			border-right: 0;
			padding: 20px 5px 10px;
		}
		&:last-child {
			border-right: 0;
		}
		img {
			margin: 0 auto;
		}
		p {
			font-family: $font__playfair;
			font-size: 24px;
			line-height: 30px;
			font-weight: 900;
			margin-bottom: 0;
			transition: all .3s;
			@media all and (max-width: 991px) {
				font-size: 20px;
    			line-height: 24px;
			}
		}
		&.slick-current {
			&:after {
				opacity: 1;
			}
		}
		&:after {
			position: absolute;
			content: '';
			bottom: -10px;
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
			border-top: 10px solid $color__do;
			opacity: 0;
			transition: all .3s;
			left: 50%;
			transform: translateX(-50%);
		}
		&:hover {
			&:after {
				opacity: 1;
				transition: all .3s;
			}
			p {
				color: $color__do;
			}
		}
	}
	.slider-single {
		.slick-list {
			margin: 0 -38px;
		}
		.slick-dots {
			top: 50%;
			left: 37%;
			bottom: unset;
			transform: translate(0, -50%);
			li {
				display: block;
			}
			button {
				border: 0;
				display: block;
				outline: none;
				font-size: 0px;
				padding: 5px;
				cursor: pointer;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					background: #fff;
					border: 1px solid #000;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					opacity: 1;
				}
			}
		}
	}
	.slider-single__item.slick-slide {
		display: flex;
		align-items: center;
		padding: 38px;
		outline: 0;
		@media all and (max-width: 991px) {
			padding: 10px 38px;
		}
		div {
			font-weight: 300;
			padding: 0 115px;
			width: 65%;
			b {
				font-family: $font__playfair;
				color: $color__do;
				font-size: 75px;
				line-height: 72px;
				font-weight: 900;
			}
			ul {
				margin: 0;
				// margin-top: 15px;
				margin-bottom: 15px;
				padding-left: 20px;
			}
			p {
				margin: 0;
				margin-top: 15px;
			}
		}
	}
	@media (max-width: 1199px) {
		.slider-single__item.slick-slide div {
			padding: 0 0 0 50px;
			width: 55%;
		}
		.slider-single__item.slick-slide div b {
			font-size: 40px;
			line-height: 1.2;
		}
	}
	@media (max-width: 991px) {
		.service {
			margin-top: 0 !important;
			padding: 0 !important;
		}
		.slider-single__item.slick-slide div {
			width: 45%;
		}
	}
	@media (max-width: 575px) {
		.slider-single__item.slick-slide {
			padding-bottom: 0;
		}
		.slider-single .slick-dots {
			visibility: hidden;
		}
		.slider-single__item.slick-slide div {
			width: 100%;
			padding: 0;
			margin-top: 10px;
			b {
				font-size: 35px;
				line-height: 40px;
			}
		}
		.slider-single__item .image_hover img {
			max-height: 201px;
			width: 100%;
			object-fit: cover;
		}
		.slider-nav {
			margin-bottom: 30px;
		}
	}

	// Background.
	.background {
		background-image: url(images/section-background.jpg);
		padding: 60px 0;
		// background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		position: relative;
		@media all and (max-width: 991px) {
			margin-top: -30px;
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(17, 146, 142, 0.25);
		}
		.section-title {
			color: #fff;
			padding: 0;
			line-height: 1;
			&:after {
				display: none;
			}
			@media all and (max-width: 991px) {

			}
		}
		.section-title__sub {
			position: relative;
			margin: 0;
			padding-bottom: 10px;
			&:after {
				content: '';
				width: 83px;
				height: 6px;
				background: $color__do;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}

	// Featured.
	.section-featured {
		padding: 40px 0;
		@media all and (max-width: 991px) {
			padding-bottom: 0;
		}
		.slick-list {
			overflow: unset;
		}
		.slick-arrow {
			background: $color__do;
		}
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			left: -50px;
			padding: 12px;
			bottom: -110px;
			right: unset;
		}
		.slick-dots {
			left: 60px;
			bottom: -160px;
		}
		.slick-slide {
			visibility: hidden;
		}
		.slick-slide.slick-active {
			visibility: unset;
		}
	}
	.section-featured__wrapper {
		position: relative;
	}
	.section-featured__number {
		position: absolute;
		font-size: 12px;
		font-weight: 300;
		color: #2a657d;
		text-transform: uppercase;
		top: 25%;
		@media all and (max-width: 991px) {
			display: none;
		}
		b {
			font-size: 64px;
			font-family: $font__playfair;
			font-weight: 700;
			color: #000;
		}
		@media (min-width: 1280px) {
			left: -4%;
		}
		@media (min-width: 1366px) {
			left: -6%;
		}
		@media (min-width: 1440px) {
			left: -10%;
		}
		@media (min-width: 1600px) {
			left: -15%;
		}
		@media (min-width: 1920px) {
			left: -28%;
		}
	}
	.section-featured__wrapper:nth-child(even) {
		.section-featured__number {
			left: unset;
			right: 0;
			@media (min-width: 1280px) {
				right: -4%;
			}
			@media (min-width: 1366px) {
				right: -6%;
			}
			@media (min-width: 1440px) {
				right: -10%;
			}
			@media (min-width: 1600px) {
				right: -15%;
			}
			@media (min-width: 1920px) {
				right: -28%;
			}
		}
		.section-featured__item {
			margin-bottom: 100px;
		}
		.featured__item--left {
			order: 2;
			text-align: right;
			padding: 160px 0 115px 115px;
			b {
			 	width: 100%;
			}
			* {
				float: right;
			}
		}
		.featured__item--right {
			padding-left: 0;
			padding-right: 30px;
			&:before {
				content: '';
				background: url('images/image-layer.png');
				background-repeat: no-repeat;
				position: absolute;
				width: 100%;
				height: 100%;
				top: -80px;
				left: 68%;
			}
		}
		.slick-dots {
			left: unset;
			right: 30px;
			bottom: -140px;
		}
		.slick-next {
			left: unset;
			right: -50px;
			bottom: -90px;
		}
	}
	.section-featured__item {
		margin-bottom: 120px;
		@media all and (max-width: 991px) {
			margin-bottom: 0;
		}
	}
	.section-featured__item.slick-slide {
		display: flex;
		outline: 0;
		visibility: hidden;
	}
	.section-featured__item.slick-current.slick-active {
		visibility: unset;
	}
	.featured__item--right {
		width: 40%;
		padding-left: 30px;
		a img {
			box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			height: 529px;
			object-fit: cover;
			padding: 10px;
			background: #fff;
		}
		&:before {
			content: '';
			background: url('images/image-layer.png');
			background-repeat: no-repeat;
			position: absolute;
			width: 100%;
			height: 100%;
			top: -42px;
			left: -50px;
			@media all and (max-width: 991px) {
				display: none;
			}
		}
	}
	.featured__item--left {
		font-weight: 300;
		padding: 115px 115px 115px 0;
		width: 60%;
		img {
			display: block;
			margin-bottom: 20px;
		}
		b {
			font-family: $font__playfair;
			font-size: 36px;
			line-height: 40px;
			font-weight: 900;
		}
		p {
			margin: 15px 0;
			margin-bottom: 0;
		}
	}
	@media (min-width: 1280px) {
		.section-featured__wrapper:nth-child(even) .featured__item--right {
			img {
				right: 0;
				left: unset;
			}
		}
		.featured__item--right a {
			position: relative;
			img {
				position: absolute;
				max-width: inherit;
				top: 0;
				left: 0;
			}
		}
	}
	@media (max-width: 1199px) {
		.section-featured .slick-next,
		.section-featured__wrapper:nth-child(even) .slick-next {
			bottom: 17px;
		}
		.section-featured .slick-dots,
		.section-featured__wrapper:nth-child(even) .slick-dots {
			bottom: -50px;
		}
		.section-featured__wrapper .featured__item--left {
			padding-right: 115px;
			padding-left: 0;
		}
		.section-featured__item,
		.section-featured__wrapper:nth-child(even) .section-featured__item {
			margin-bottom: 30px;
		}
		.featured__item--left,
		.section-featured__wrapper:nth-child(even) .featured__item--left {
			padding: 0;
			padding-left: 115px;
		}
		.featured__item--right a img {
			height: 300px;
		}
	}
	@media (max-width: 991px) {
		.section-featured__wrapper .featured__item--left {
			padding: 0;
		}
		.featured__item--left,
		.section-featured__wrapper:nth-child(even) .featured__item--left {
			padding: 0;
		}
		.section-featured__wrapper:nth-child(even) .section-featured__item {
			margin-bottom: 0;
		}
	}
	@media (max-width: 768px) {
		.section-featured .slick-arrow,
		.section-featured .slick-dots {
			visibility: hidden;
		}
		.section-featured__wrapper:nth-child(even) .featured__item--right {
			padding-right: 0;
		}
	}
	@media (max-width: 575px) {
		.featured__item--left,
		.featured__item--right {
			width: 100%;
			padding: 0;
		}
		.featured__item--right {
			margin-top: 10px;
		}
		.section-featured__wrapper:nth-child(even) .featured__item--left {
			padding: 0;
			order: unset;
		}
	}

	// Tính giá.
	.tinh-toan {
		background: #f2f2f2 url(images/tinh-toan-background.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		padding-top: 20px;
		box-shadow: 0 18px 23px -3px rgba(0, 0, 0, 0.2);
	}
	.list-gdesc {
		max-width: 980px;
		margin: 20px auto 100px;
		@media all and (max-width: 991px) {
			padding: 0 15px;
			margin-bottom: 10px;
		}
	}
	.item-title {
		font-family: $font__playfair;
		font-size: 36px;
	}
	.build {
		padding-bottom: 75px;
		// background: #f2f2f2;
		.list-body {
			margin-top: 25px;
			.item {
				flex: 0 0 65%;
				max-width: 65%;
				background: #fff;
			}
			.build__image {
				position: relative;
				flex: 0 0 35%;
				padding-left: 30px;
				img {
					position: absolute;
					max-width: inherit;
				}
			}
			.item-box {
				border: 5px solid $color__do;
				padding: 25px 10px;
				.box {
					border-right: 1px solid #bcbcbc;
					padding: 36px 30px 65px;
					width: 50%;
					margin-top: 15px;
					&:last-child {
						border: 0;
					}
					@media all and (max-width: 991px) {
						margin-top: 0;
					}
				}
				input, select {
					width: 100%;
					background: none;
					border: 1px solid #000;
					outline: none;
					font-size: 15px;
					height: 50px;
					line-height: 26px;
					color: #000;
					padding: 6px 14px;
					cursor: pointer;
					&::placeholder {
						font-style: italic;
						color: rgb(189, 187, 187);
						font-weight: 300;
					}
					@media all and (max-width: 991px) {
						height: 40%;
					}
				}
				select {
					height: 50px;
					option {
						color: #333;
					}
					@media all and (max-width: 991px) {
						height: 40%;
					}
				}
				.input {
					margin: 12px 0;
				}
				input {
					margin-bottom: 10px;
					@media all and (max-width: 991px) {
						margin-bottom: 0;
					}
				}
				span {
					display: block;
					font-size: 20px;
					font-weight: 300;
					line-height: 26px;
					margin-bottom: 20px;
					@media all and (max-width: 991px) {
						margin-bottom: 10px;
						font-size: 16px;
					}
				}
			}
			.item-title {
				width: 100%;
				padding: 0 30px;
				position: relative;
				color: $color__do;
				margin: 0;
			}
			.item-link {
				margin-top: 57px;
				.thar {
					display: inline-block;
					padding: 7px 28px;
					margin: 0;
					color: #fff;
					// font-size: 24px;
					// font-weight: bold;
					// background: $color__do;
					// color: #fff;
					// transition: all .4s cubic-bezier(.42,0,.58,1);
					// z-index: 0;
					// text-transform: uppercase;
					// text-decoration: none;
				}
			}
		}
	}
	.caculator {
		font-family: "Averta";
		// background: #f2f2f2;
		padding-bottom: 50px;
		.list-body {
			margin: 0 80px;
			position: relative;
			box-shadow: 0 1px 30px 0 rgba(0,0,0,.05);
			border-radius: 5px;
			overflow: hidden;
			background: #fff;
		}
		.item-title {
			background: $color__do;
			text-align: center;
			margin: 0;
			padding: 6px 0 8px;
		}
		.item {
			padding: 22px 35px 0;
		}
		.item-body {
			margin-left: -10px;
			margin-right: -10px;
			display: flex;
			flex-wrap: wrap;
			input, select {
				font-family: "Averta";
				width: 100%;
				border: 1px solid #e1e1e1;
				outline: none;
				transition: all .5s ease;
				font-size: 15px;
				line-height: 24px;
				color: #333;
				padding: 5px 10px;
				cursor: pointer;
				margin-top: 4px;
			}
			select {
				height: 36px;
			}
			.input {
				padding-left: 10px;
				padding-right: 10px;
				flex: 0 0 25%;
				max-width: 25%;
				margin-bottom: 10px;
				&.hide-on-mobile {
					@media all and (max-width: 991px) {
						display: none;
					}
				}
			}
			span {
				display: block;
				font-size: 15px;
				line-height: 24px;
			}
		}
		.item-link {
			text-align: center;
			padding-bottom: 26px;
			.thar {
				margin: 5px;
				display: inline-block;
				color: #fff;
				&:first-child {
					background: $color__do;
				}
			}
			// .thar {
			// 	font-size: 24px;
			// 	font-weight: bold;
			// 	padding: 6px 28px;
			// 	background: $color__cam;
			// 	margin: 5px;
			// 	color: #fff;
			// 	display: inline-block;
			// 	transition: all .4s cubic-bezier(.42,0,.58,1);
			// 	z-index: 0;
			// 	text-transform: uppercase;
			// 	text-decoration: none;
			// 	&:first-child {
			// 		background: $color__do;
			// 	}
			// }
		}
	}
	.popup {
		position: fixed;
		min-width: 100%;
		max-width: 0;
		margin: auto;
		background: rgba(0,0,0,.5);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 5;
		top: 0;
		flex-direction: column;
		left: 0;
		.d-flex {
			border-bottom: 1px solid #ebebeb;
			margin-bottom: 22px;
		}
		.item-title {
			font-size: 24px;
			font-weight: bold;
			line-height: 26px;
			color: #019f9a;
			cursor: pointer;
			padding: 10px 43px;
			border-right: 1px solid #ebebeb;
			&:last-child {
				border-right: 0;
			}
			&.active {
				background: #ebebeb;
			}
		}
		.item-body {
			padding: 0 43px;
			overflow-y: scroll;
			max-height: 600px;
			margin-right: 43px;
			height: auto;
			@media only screen and (max-width: 1400px) {
				max-height: 355px;
			}
		}
	}
	.popup-close {
		position: absolute;
		top: -42px;
		right: -42px;
		color: #fff;
		background: #d58431;
		width: 42px;
		height: 42px;
		text-align: center;
		line-height: 42px;
		border-radius: 50%;
		cursor: pointer;
	}
	.popup-home {
		background: #fff;
		padding: 35px 0;
		border-radius: 5px;
		position: absolute;
		max-width: 1170px;
		margin-top: 15px;
	}
	.d-none {
		display: none;
	}
	@media (max-width: 1299px) {
		.caculator .list-body {
			margin: 0 20px;
		}
	}
	@media (max-width: 1199px) {
		.item-title {
			font-size: 24px;
		}

		.build .list-body .item-box .box {
			padding: 36px 25px 65px;
		}
		.popup-home {
			left: 15px;
			right: 15px;
		}
		.popup-close {
			top: -55px;
			right: -15px;
		}
	}
	@media (max-width: 575px) {
		.build .list-body .item {
			flex: 0 0 100%;
			max-width: 100%;
		}
		.build .list-body .item-title {
			padding: 0;
		}
		.build .list-body .item-box .box {
			padding: 0;
			width: 100%;
			border: 0;
		}
		.build .list-body .build__image img {
			display: none;
		}
		.build .list-body .item-link {
			margin-top: 30px;
		}

		.caculator .item-body .input {
			flex: 0 0 100% !important;
			max-width: 100% !important;
		}
		.popup-home {
			width: auto;
		}
		.popup .item-title {
			font-size: 20px;
			width: 50%;
			padding: 10px 15px;
		}
		.popup .item-body {
			margin-right: 0;
			padding: 0 20px;
		}
		.popup-close {
			right: 0;
			top: -50px;
		}
	}

	// Project.
	.section-project {
		background: url(images/project-background.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 100px 0;
		.project__gt {
			font-size: 16px;
			font-weight: 300;
			text-align: center;
			margin-bottom: 80px;
			@media all and (max-width: 991px) {
				margin-bottom: 20px;
			}
		}
	}
	.projects__wrapper {
		margin: 0 -15px;

		.slick-list {
			overflow: unset;
		}
		.slick-arrow {
			background: $color__do;
			bottom: -35px;
			padding: 12px;
			img {
				@media all and (max-width: 991px) {
					width: 15px;
				}
			}
		}
		.slick-prev {
			left: 15px;
		}
		.slick-next {
			right: 15px;
		}
		.slick-track{
			display: flex;

			.slick-slide{
				display: flex;
				flex-flow: row wrap;
				height: auto;
				align-items: center; //optional
				justify-content: center; //optional
			}
		}
	}
	.project-item {
		margin: 0 15px;
		position: relative;
		background: #fff;
		&.slick-slide:before {
			content: '';
			position: absolute;
			background-color: rgb(61, 61, 61);
			opacity: 0.5;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&.slick-slide.slick-active:before {
			display: none;
		}
		&:hover {
			box-shadow: 0px 37px 56.43px 0.57px rgba(0, 0, 0, 0.15);
		}
		.image_hover {
			width: 100%;
		}
		.project__content {
			width: 100%;
			padding: 20px 30px;
			@media all and (max-width: 991px) {
				padding: 10px 20px;
			}
		}
		.posted-on {
			font-size: 13px;
			font-weight: 300;
			color: #838383;
		}
		.entry-title {
			font-family: $font__playfair;
			font-weight: 900;
			font-size: 24px;
			line-height: 30px;
			margin-top: 20px;
			margin-bottom: 60px;
			@media all and (max-width: 991px) {
				margin: 10px 0;
				font-size: 20px;
			}
		}
		.image_hover {
			display: block;
			box-shadow: none;
			padding: 0;
			img {
				height: 337px;
				width: 100%;
				object-fit: cover;
			}
		}
	}
	@media (max-width: 575px) {
		.section-project {
			padding: 50px 0;
		}
	}

	// News.
	.section-news {
		padding: 50px 0;
		@media all and (max-width: 991px) {
			padding: 15px 0;
		}
		.section-title {
			margin-bottom: 60px;
			@media all and (max-width: 991px) {
				margin-bottom: 20px;
			}
		}
		.news__wrapper {
			margin: 0 -15px;
		}
		.news__left,
		.news__right {
			width: 50%;
			padding: 0 15px;
		}
		.news__right {
			max-height: 596px;
			overflow-y: scroll;
			/* width */
			&::-webkit-scrollbar {
				width: 5px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background: #dedede;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: $color__do;
				border-radius: 10px;
			}
		}
		.news__left img {
			width: 100%;
			object-fit: cover;
		}
		.image_hover {
			padding: 0;
			background: none;
			box-shadow: unset;
			display: block;
		}
	}
	.news-item {
		margin-bottom: 28px;
		.thumbnail {
			img {
				width: 267px;
				height: 176px;
				object-fit: cover;
			}
		}
		.news-item__content {
			padding-left: 30px;
			width: 51%;
		}
		.post-excerpt {

			font-weight: 300;
			font-size: 16px;
			p {
				margin-top: 10px;
				line-height: 1.2;
			}
		}
		h3 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;

			font-family: $font__playfair;
			font-weight: 900;
			font-size: 21px;
			// max-height: 55px;
			overflow: hidden;
			margin: 0;
			line-height: 1.3;
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
	@media (max-width: 1199px) {
		.section-news .news__right {
			max-height: 500px;
		}
		.news-item h3 {
			margin: 0;
		}

	}
	@media (max-width: 1167px) {
		.news-item .news-item__content {
			padding-left: 0;
			width: 60%;
		}
	}
	@media (max-width: 800px) {
		.section-news .news__right {
			max-height: 360px;
		}
	}
	@media (max-width: 575px) {
		.section-news .news__left {
			display: none;
		}
		.section-news .news__right {
			max-height: 600px;
		}
		.section-news .news__left,
		.section-news .news__right {
			width: 100%;
		}
		.section-news .image_hover,
		.news-item .news-item__content {
			margin: 0 auto;
			width: 100%;
		}
		.news-item .news-item__content {
			padding: 0;
		}
		.news-item .image_hover img {
			width: 100%;
			object-fit: cover;
		}

	}

	// Background.
	.thongso {
		background-image: url(images/thongso-background.png);
		padding: 130px 0;
		// background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(61, 61, 61, 0.5);
		}
	}
	.thongso__wrapper {
		position: relative;
		z-index: 1;
	}
	.thongso__item {
		width: 25%;
		text-align: center;
		color: #fff;
		p {
			font-family: $font__playfair;
			font-weight: 900;
			font-size: 36px;
			margin: 0;
		}
		span {
			font-weight: 300;
			font-size: 36px;
			b {
				font-weight: 900;
				font-size: 50px;
			}
		}
	}
	@media (max-width: 575px) {
		.thongso {
			padding: 50px 0;
		}
		.thongso__item {
			width: 50%;
			margin-bottom: 20px;
			img {
				max-height: 45px;
			}
		}
		.thongso__item p,
		.thongso__item span,
		.thongso__item span b {
			font-size: 24px;
		}
	}

	// Form.
	.form-ki-tuvan {
		background: url('images/form-background.png');
		background-repeat: no-repeat;
		background-position: 50% -100%;
		margin-top: -50px;
		padding-bottom: 50px;
		position: relative;
		z-index: 1;
		@media all and (max-width: 991px) {
			padding-bottom: 0;
		}
		.form__left {
			width: 60%;
			padding-left: 50px;
			h2 {
				font-family: $font__playfair;
				font-size: 36px;
				font-weight: 900;
				line-height: 1;
				margin: 0;
				@media all and (max-width: 991px) {
					font-size: 24px;
				}
			}
		}
		.form__right {
			width: 40%;
			padding-left: 70px;
			.d-flex {
				align-items: center;
				margin-bottom: 20px;
			}
			h3 {
				font-family: $font__playfair;
				font-weight: 900;
				font-size: 36px;
				padding-left: 33px;
			}
			p {
				margin: 0;
				a {
					color: #000;
					text-decoration: none;
				}
			}
			img {
				margin-right: 15px;
				animation: quick-alo 1s infinite ease-in-out;
			}
			b {
				font-weight: 900;
			}
		}
	}
	.page-template-landing .gform_wrapper .gform_body input, .page-template-landing .gform_wrapper .gform_body select {
		@media all and (max-width: 991px) {
			height: 40px;
		}
	}
	.form__wrapper {
		justify-content: space-between;
		max-width: 970px;
		margin: 0 auto;
		padding: 40px 50px;
		border-radius: 5px;
		background: #fff;
		box-shadow: 0px 8px 23.04px 0.96px rgba(0, 0, 0, 0.2);
		position: relative;
	}

	.gform_wrapper {
		margin: 0;
	}
	.gform_wrapper .gform_body {
		ul.gform_fields {
			display: flex;
			flex-flow: row wrap;
		}
		li {
			width: 100%;
			@media all and (max-width: 991px) {
				margin-top: 5px;
			}
		}
		li.w-50 {
			width: 50%;
			@media all and (max-width: 991px) {
				width: 100%;
			}
		}
		label.gfield_label {
			font-size: 20px;
			font-weight: 300;
			@media all and (max-width: 991px) {
				font-size: 17px;
			}
		}
		input,
		select {
			height: 50px;
			border: 2px solid #000;
		}
		textarea {
			border: 2px solid #000;
		}
	}
	.gform_wrapper .gform_footer {
		margin: 0;
		padding: 0;
		input.button,
		input[type=submit] {
			font-size: 24px;
			font-weight: 900;
			padding: 13px 23px;
			background: $color__do;
			border: 1px solid $color__do;
			color: #fff;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
			position: absolute;
			bottom: 50px;
			right: 150px;
			&:hover {
				background: $color__cam;
				border: 1px solid $color__cam;
				transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
			}

		}
	}
	@media only screen and (min-width: 641px) {
		.gform_wrapper .top_label input.medium,
		.gform_wrapper .top_label select.medium {
			width: 100%;
		}
	}
	@media (max-width: 1199px) {
		.form__wrapper {
			padding: 40px 20px;
		}
		.form-ki-tuvan .form__left {
			padding-left: 0;
		}

	}
	@media (max-width: 768px) {
		.gform_wrapper .gform_footer input.button,
		.gform_wrapper .gform_footer input[type=submit] {
			right: 0;
		}
	}
	@media (max-width: 575px) {

		.form-ki-tuvan {
			margin: 0;
		}
		.form-ki-tuvan .form__left,
		.form-ki-tuvan .form__right {
			width: 100%;
			padding: 0;
		}
		.gform_wrapper .gform_footer input.button,
		.gform_wrapper .gform_footer input[type=submit] {
			position: unset;
			font-size: 18px;
			padding: 8px 23px;
		}
		.form-ki-tuvan .form__right h3 {
			margin: 15px 0;
		}
	}


	// Video.
	.section-video__wrapper {
		padding: 80px;
		iframe {
			width: 100%;
			height: 800px;
		}
	}
	@media (max-width: 991px) {
		.section-video__wrapper {
			padding: 80px 20px;
		}
		.section-video__wrapper iframe {
			height: 500px;
		}
	}
	@media (max-width: 767px) {
		.section-video__wrapper iframe {
			height: 315x;
		}
	}

	// popup
	#sidebar {
		display: none;
	}
	#page-container {
		background: none !important;
		position: relative !important;
		* {
			font-size: 5rem !important;
			left: 0 !important;
			right: auto !important;
			bottom: auto !important;
			position: relative !important;
		}
		img {
			display: none !important;
		}
	}
	.h1, .h2, .h3, .h4, .h5, .h7 {
	}
	.h6, .h6 + .h7 {
		height: 40.88px !important;
		line-height: 40.88px !important;
		// border: 1px solid #4d4d4d;
		padding-left: 30px !important;
	}
	.h0 {
		height: auto !important;
	}
	.t, .c {
		position: inherit !important;
		overflow: visible !important;
	}
	.w0, .w2 {
		width: 100% !important;
	}
	.pf {
		margin: 0 !important;
		box-shadow: none !important;
		background: none !important;
	}
	.w3 {
		width: 600px !important;
	}
	#pf2 {
		margin-top: -100px !important;
	}

	#xemHuongNha,
	#xemTuoiXayNha {
		p,
		ul {
			margin: 0;
		}
	}

	.math-content {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 30px 60px;
		z-index: 3;
		justify-content: center;
		align-items: center;
		background: rgba(#000, 0.8);
		display: none;
		&.show {
			display: flex;
		}
		.table-1 {
			position: relative;
			background: #fff;
			padding: 10px 40px;
			z-index: 3;
			border-radius: 5px;
			width: 1170px;
			.popup-close {
				top: 10%;
				right: -50px;
				@media (max-width: 575px) {
					right: 0;
					top: -50px;
				}
			}
		}
		.math-content-table {
			max-height: 250px;
			overflow-y: scroll;
		}
		table {
			td {
				padding: 8px 13px;
				border-bottom: 1px solid #e1e1e1;
				border-right: 1px solid #e1e1e1;
				@media (max-width: 575px) {
					padding: 3px;
				}
			}
			thead {
				font-weight: bold;
				text-transform: uppercase;
				background: #ebebeb;
				td {
					text-align: center;
				}
			}
		}
	}
}