.single {
	.entry-title {
		font-family: $font__playfair;
		font-weight: 700;
		font-size: 30px;
	}
	.entry-content {
		font-weight: 300;
	}
	.section-title {
		margin-bottom: 30px;
	}
	.site-main {
		margin-bottom: 30px;
	}
	.breadcrumb {
		font-size: 19px;
		font-weight: 300;
		color: #2f677d;
		text-transform: uppercase;
		margin: 35px 0;
		b {
			font-weight: 700;
		}
	}
}
.single__recent-wrapper {
	margin-bottom: 230px;
	.news-item {
		padding: 0 15px;
		a {
			padding: 0;
			background: none;
			box-shadow: unset;
			display: block;
			margin-bottom: 5px;
		}
		.thumbnail img {
			width: 100%;
			height: 176px;
			object-fit: cover;
		}
		h3 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;

			font-family: $font__playfair;
			font-weight: 900;
			font-size: 21px;
			// max-height: 55px;
			overflow: hidden;
			margin: 0;
			line-height: 1.3;
			a {
				color: #000;
				text-decoration: none;
			}
		}
		.post-excerpt {
			font-weight: 300;
			font-size: 16px;
			p {
				margin-top: 10px;
				line-height: 1.2;
			}
		}
	}
	.slick-arrow {
		bottom: -140px;
	}
	.slick-prev,
	.slick-next,
	.slick-prev:hover,
	.slick-next:hover,
	.slick-prev:focus,
	.slick-next:focus {
		background: $color__cam;
	}
	&.slick-initialized .slick-prev {
		left: 18%;
	}
	&.slick-initialized .slick-next {
		right: 18%;
	}
	@media (max-width: 575px) {
		margin-bottom: 120px;
		.slick-arrow {
			padding: 12px;
			bottom: -70px;
			img {
				width: 15px;
			}
		}
		&.slick-initialized .slick-prev {
			left: 40%;
		}
		&.slick-initialized .slick-next {
			right: 40%;
		}
	}
}